.article_list {
    a {
        display: block;
    }

    width: 660px;
    .buttom {
        width: 20px;
        height: 20px;
    }
    .single-article {
        display: flex;
    }
    .single-image {
        display: flex;
        justify-content: space-between;
        .img {
            width: 158px;
            height: 120px;
            overflow: hidden;
            img {
                max-width: 158px;
            }
        }
        .text-box {
            width: 480px;
            justify-content: center;
        }
    }
    .multiple-image {
        display: flex;
        flex-direction: column;
        .img {
            display: flex;
            justify-content: space-between;
            div {
                width: 158px;
                height: 120px;
                overflow: hidden;
                img {
                    max-width: 158px;
                }
            }
        }
        .text-box {
            .text {
                margin-bottom: 10px;
            }
        }
    }
    .a-text(#000);
    .a_text {
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 5px;
        &:hover {
            background-color: #f5f8fa;
        }
        .text-box {
            height: 100%;
            display: flex;
            flex-direction: column;
            .text {
                font-size: 14px;
                word-break: break-all;
            }
        }

        // 文章列表用户信息
        .info {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .left {
                display: flex;
                font-size: 12px;
                .avatar {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                    img {
                        border-radius: 50%;
                        max-width: 20px;
                        max-height: 20px;
                    }
                }
                .name {
                    margin-right: 12px;
                }
                div {
                    line-height: 20px;
                }
            }
        }
        .right {
            margin-left: auto;
            margin-top: auto;
            font-size: 14px;
            .icon:hover {
                color: #ed7350;
            }

            .text {
                font-size: 13px;
            }

            .grey-line {
                margin: 0 8px;
                border-color: #d9d9d9;
                border-left-width: 1px;
                border-left-style: solid;
                width: 0;
            }
        }
    }
    .video {
        padding-left: 18px; 
    }
}

.article_tips {
    width: 660px;
    position: relative;
    text-align: center;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    background-color: #fffdec;
    color: #ed7350;
    border-radius: 3px;
}

