@import './sidebar.less';
@import './article_list.less';
@import './hot.less';
.frame {
    width: 1170px;
    margin: 0 auto;
    padding: 66px 0 0;
    display: flex;
    justify-content: space-between;
}

.article_waterfall {
    width: 660px;
}

.hot-list {
    width: 340px;
}