.article_list {
    width: 660px;
    .buttom {
        width: 20px;
        height: 20px;
    }
    .a-text(#000);
    .a_text {
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 10px;
    }
}

.article_tips {
    width: 660px;
    position: relative;
    text-align: center;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    background-color: #fffdec;
    color: #ed7350;
    border-radius: 3px;
}

