@icomoon-font-family: "icomoon";
@icomoon-font-path: "fonts";

@icon-B: "\4ec0";
@icon-E: "\9c9c";
@icon-A: "\6709";
@icon-F: "\4e8b";
@icon-C: "\4e48";
@icon-D: "\65b0";
@icon-G: "\60f3";
@icon-H: "\544a";
@icon-J: "\5927";
@icon-I: "\8bc9";
@icon-K: "\5bb6";
@icon-question: "\3f";
@icon-aa: "\61";
@icon-index-rec: "\65";
@icon-article-emoji: "\6f";
@icon-article-pic: "\70";
@icon-plus: "\2b";
@icon-index-close: "\58";
@icon-nav-sreach: "\66";
@icon-edit: "\37";
@icon-index-top: "\da";
@icon-article-post: "\fa";
@icon-config: "\2a";
@icon-poeple: "\48";
@icon-time: "\fc";
@icon-article-video: "\71";
@icon-pinglun: "\e608";
@icon-zhuanfa: "\e607";
@icon-aticle-topic: "\23";
@icon-favorite: "\fb";
@icon-zan: "\f1";
@icon-b: "\62";
@icon-nav-game: "\47";
@icon-nav-explore: "\46";
@icon-nav-home: "\45";
@icon-nav-video: "\e60b";
@icon-account-mail: "\f0e0";
@icon-font-weibo-path1: "\e900";
@icon-font-weibo-path2: "\e901";
@icon-font-weibo-path3: "\e902";
@icon-font-weibo-path4: "\e903";
@icon-font-weibo-path5: "\e904";
@icon-account-user: "\e971";
@icon-account-key: "\e98d";
@icon-phone-square: "\f098";
@icon-github: "\f09b";

