.account {
    .controller {
        padding-top: 30px;
        width: 260px;
        margin: 0 auto;
        .input {
            .test {
                display: flex;
                justify-content: space-between;
            }
            #testephonebutton {
                width: 88px;
                box-sizing: border-box;
                line-height: 32px;
                color: #FFF;
                background-color: #ff8140;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                height: 32px;
                font-size: 12px;
                padding: 0;
                text-align: center;
                &:hover {
                    background-color: #eb7350;
                }
            }
            .textarea {
                position: relative;
                width: 228px;
                border: 1px #ccc solid;
                padding-left: 30px;
                margin-bottom: 10px;
                input {
                    border: none;
                    width: 100%;
                    height: 28px;
                    color: #808080;
                    // 外部的蓝色框
                    outline-style: none;
                }
                // 表示一个元素获得焦点，或，该元素的后代元素获得焦点。换句话说，元素自身或者它的某个后代匹配:focus伪类
                // https://developer.mozilla.org/zh-CN/docs/Web/CSS/:focus-within 
                // 兼容性堪忧 chrome 60+ Firefox 52+
                // 考虑使用 js 来实现，但是好像 edge 也要用 chrome 内核了，微软都放弃了你为啥还不放弃
                &:focus-within {
                    border-color: #f7691d;
                }

                & > span {
                    &.icon {
                        position: absolute;
                        left: 8px;
                        top: 7px;
                        color: #8d9198;
                    }
                }
            }
            .testephone {
                width: 150px;
                padding-left: 8px;
            }
            .auto {
                // float 设定之后 父级元素崩了，只能设定 高度这样就不需要 clear:both;
                // height: 16px;
                // 使用 伪类 不用手动设定
                &:after {
                    clear:both;
                    content:'';
                    // 使其移到下面来
                    display:block;
                }
                span,label {
                    color: #808080;
                    font-size: 12px;
                }
                // 因为 label 和 span 的文字对不齐只能通过 float 来实现，如果使用默认 16px 的字体大小就比较完美
                input {
                    margin: 1.5px;
                    float: left;
                }
                span {
                    float: right;
                }
                label {
                    float: left;
                }
    
            }
        }
        .oauth {
            margin-top: 8px !important;
            button {
                background-color: #FFF !important;
                color: #333 !important;
                border-color: #d9d9d9 !important;
                border-width: 1px !important;
                border-style: solid !important;
                box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
                &:hover {
                    border-color: #cccccc !important;
                }
            }
        }
    }
}