@icomoon-font-family: "icomoon";
@icomoon-font-path: "../fonts";

@icon-font-weibo-path1: "\e900";
@icon-font-weibo-path2: "\e901";
@icon-font-weibo-path3: "\e902";
@icon-font-weibo-path4: "\e903";
@icon-font-weibo-path5: "\e904";

